.venv
DjangoGramm/.idea/
DjangoGramm/.pytest_cache/
DjangoGramm/DjangoGramm/__pycache__/
DjangoGramm/social/__pycache__/
DjangoGramm/tests/__pycache__/
__pycache__/
.idea/
.pyc
DjangoGramm/debug.log
DjangoGramm/node_modules/
DjangoGramm/DjangoGramm/settings.py