{% extends 'master.html' %}

{% block title %}Logout{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="form-container">
    <h1 class="form-title">Confirm Logout?</h1>
    <form method="POST" action="{% url 'logout' %}" class="styled-form">
        {% csrf_token %}
        <div class="button-container">
            <button class="submit-button" type="submit">Confirm</button>
            <a class="submit-button" href="{% url 'settings' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}