<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_javascript %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <script src="{% static 'dist/bundle.js' %}"></script>
    {% block script %}{% endblock %}
    {% block token %}{% endblock %}
</head>
<body>

    <div class="container">

        <header>
            <img src="https://djangogramm-media.s3.eu-west-1.amazonaws.com/img/logo.png" alt="here must be logo.">
            <h1>DjangoGramm</h1>
        </header>


        <div class="navigation">
            {% if user.is_authenticated %}
                <ul>
                    <li class="{% if request.path == '/' %}active{% endif %}">
                        <a href="{% url 'home' %}">
                            <span class="icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li class="{% if request.path|slice:':9' == '/profile/' %}active{% endif %}">
                        <a href="{% url 'profile' user.username %}">
                            <span class="icon">
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <span class="text">Profile</span>
                        </a>
                    </li>

                    <li class="{% if request.path == '/news/' %}active{% endif %}">
                        <a href="{% url 'news' %}">
                            <span class="icon">
                                <i class="fa-solid fa-newspaper"></i>
                            </span>
                            <span class="text">News</span>
                        </a>
                    </li>

                    <li class="{% if request.path == '/post/' %}active{% endif %}">
                        <a href="{% url 'post_create' %}">
                            <span class="icon">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span class="text">Create post</span>
                        </a>
                    </li>

                    <li class="{% if request.path == '/settings/' %}active{% endif %}">
                        <a href="{% url 'settings' %}">
                            <span class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </span>
                            <span class="text">Settings</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            {% else %}
                <ul>
                    <li class="{% if request.path == '/' %}active{% endif %}">
                        <a href="{% url 'home' %}">
                            <span class="icon">
                                <i class="fa-solid fa-house"></i>
                            </span>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li class="{% if request.path == '/auth/login/' %}active{% endif %}">
                        <a href="{% url 'login' %}">
                            <span class="icon">
                                <i class="fa-solid fa-sign-in"></i>
                            </span>
                            <span class="text">Sign in</span>
                        </a>
                    </li>
                    <div class="indicator"></div>
                </ul>
            {% endif %}
        </div>

    {% block content %}
    {% endblock %}
    </div>

{#    <script>#}
{#        const $list = document.querySelectorAll('li');#}
{##}
{#        function activeLink() {#}
{#            $list.forEach(($li) => {#}
{#                $li.classList.remove('active')#}
{#            });#}
{#            this.classList.add('active');#}
{#        }#}
{##}
{#        $list.forEach(($li) => {#}
{#            $li.addEventListener(#}
{#                'click',#}
{#                activeLink,#}
{#            );#}
{#        });#}
{#    </script>#}

</body>
</html>