{% extends 'master.html' %}

{% block title %}News Feed{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main class="container mt-4">
    <section id="posts">
        <h2 class="text-center mb-4">News Feed</h2>
         <div id="posts-app">
            <!-- Vue component will render here -->
        </div>
    </section>
</main>

<script>
    let posts = {{ posts | safe }};
    let currentUser = {{ current_user | safe }};
    let userIsAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>
{% endblock %}