{% extends 'master.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">
{% endblock %}

{% block title %}Profile Edit {{ user.username }}{% endblock %}

{% block token %}
    <meta name="csrfToken" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <div id="edit-profile-app"></div>
        <div id="delete-profile-app"></div>
    </div>
    <script>
        let initialData = {{ initial_data | safe }};
    </script>
{% endblock %}
