{% extends 'master.html' %}

{% block title %}Profile{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="header">
            <div class="avatar-container">
                <img src="{{ profile.avatar.url }}" alt="{{ user.username }}'s Avatar" class="img-fluid rounded-circle">
            </div>

            <div class="profile-main-info">
                <div class="username-and-actions">
                    <h2 class="username">{{ user.username }}</h2>
                    <div class="actions">
                        {% if user.is_authenticated %}
                            {% if user.username == request.user.username %}
                                <a href="{% url 'profile_update' user.username %}" class="btn btn-warning btn-sm">Edit Profile</a>
                            {% else %}
                                {% if is_following %}
                                    <a href="{% url 'follow' user.username %}" class="btn btn-danger btn-sm">Unfollow</a>
                                {% else %}
                                    <a href="{% url 'follow' user.username %}" class="btn btn-success btn-sm">Follow</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="stats">
                    <div>
                        <h3>{{ posts|length }}</h3>
                        <span>Posts</span>
                    </div>
                    <div>
                        <h3>{{ followers }}</h3>
                        <span>Followers</span>
                    </div>
                    <div>
                        <h3>{{ followings }}</h3>
                        <span>Following</span>
                    </div>
                </div>
            </div>

             <section id="profile-info" class="mb-5">
                <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
                <h3>{{ profile.bio }}</h3>
            </section>

            <!-- Posts Section -->
            <section id="posts">
                <h2 class="mb-3">Posts</h2>
                {% if posts %}
                    <div class="posts-grid">
                        {% for post in posts %}
                            <a href="{% url 'post_detail' post.id %}" class="post-item">
                                {% if post.images.all > 0 %}
                                    <img src="{{ post.images.all.0.image_file.url }}" alt="Post {{ post.id }}" class="post-image">
                                    <span class="fa-solid fa-clone media-icon"></span>
                                {% else %}
                                    <img src="{{ post.images.all.0.image_file.url }}" alt="" class="post-image">
                                {% endif %}
                                    <div class="post-overlay">
                                        <span>{{ post.likes.count }}
                                            {% if request.user in post.likes.all %}
                                                <i class="fa-solid fa-heart"></i>
                                            {% else %}
                                                <i class="fa-regular fa-heart"></i>
                                            {% endif %} •
                                            {{ post.comments.count }}
                                            <i class="fa-regular fa-comment"></i>
                                        </span>
                                    </div>
                                </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>No posts yet.</h4>
                {% endif %}
            </section>
        </div>
    </div>


{% endblock %}
