<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагування профілю {{ user.username }}</title>
</head>
<body>
    <header>
        <h1>Редагування профілю {{ user.username }}</h1>
    </header>
    <section id="edit-profile">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зберегти зміни</button>
            <a href="{% url 'profile' user.username %}">Скасувати</a>
        </form>
    </section>
</body>
</html>
