<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
</head>
<body>
    <header>
        <h1>{{ user.username }}'s Profile</h1>
        <img src="{{ profile.avatar.url }}" alt="{{ user.username }}'s Avatar" />
        <p>{{ profile.bio }}</p>
        {% if user.username == request.user.username %}
            <a href="{% url 'profile_update' user.username %}">Edit profile</a>
        {% endif %}
    </header>
    <section id="profile-info">
        <h1>First name: {{ profile.first_name }}</h1>
        <h1>Last name: {{ profile.last_name }}</h1>
        <h1>Bio: {{ profile.bio }}</h1>
    </section>
    <section id="posts">
        {% if posts %}
            {% for post in posts %}
                <a href="/post/{{ post.id }}">Post {{ post.id }}</a>
            {% endfor %}
        {% else %}
            <h1>No posts yet.</h1>
        {% endif %}
    </section>

    <section>
        <a href="{% url 'post_create' %}">Create Post</a>
        <a href="{% url 'home' %}">Home</a>
    </section>
</body>
</html>
