.settings-container {
    max-width: 600px;
    margin: 2% auto;
    background-color: var(--card-bg-color);
    min-height: 150px;
    padding: 1rem;
    border-radius: 10px;
}

.settings-title {
    color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.settings-list {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

.settings-item {
    display: block;
    width: 135%;
    margin: 10% 12.5%;
    border-bottom: 1px solid var(--border-color);
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-link {
    display: block;
    padding: 1rem;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem; /* Added margin to separate the links */
    width: 100%; /* Кнопка займає всю ширину контейнера */
    max-width: 500px; /* Максимальна ширина кнопки */
    border-radius: 8px;
    background-color: var(--background-color);
}

.settings-link:hover {
    color: var(--card-bg-color);
    background-color: var(--primary-color);
}

.settings-link-logout {
    color: #ff4444;
}

@media (max-width: 768px) {
    .settings-container {
        max-width: 100%;
        padding: 1rem;
    }

    .settings-title {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .settings-link {
        font-size: 1rem;
        padding: 1rem;
    }

    .settings-list {
        padding-top: 1rem;
    }

    .settings-item {
        margin-bottom: 1rem;
    }
}
