{% extends 'master.html' %}

{% block title %}Login{% endblock %}

{% load static %}
{% load socialaccount %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block token %}
    <meta name="csrfToken" content="{{ csrf_token }}">
{% endblock %}

{% block content %}
    <div id="login-app"></div>

    <script>
        window.oauthUrls = {
            google: "{% provider_login_url 'google' %}",
            github: "{% provider_login_url 'github' %}",
        };
    </script>
{% endblock %}